<div class="sports">
   <div class="sports__tabs">
      <div class="sports__tab sports__tab--active" data-sport="football" data-i18n="sports.football">Football</div>
      <div class="sports__tab" data-sport="cricket" data-i18n="sports.cricket">Cricket</div>
      <div class="sports__tab" data-sport="basketball" data-i18n="sports.basketball">Basketball</div>
      <a class="sports__tab" data-sport="esports" data-i18n="sports.esports">eSports</a>
      <div class="sports__tab" data-sport="volleyball" data-i18n="sports.volleyball">Volleyball</div>
      <a class="sports__tab" data-sport="others" data-i18n="sports.others" href="https://reffpa.com/L?tag=d_5453931m_1599c_&site=5453931&ad=1599" target="_blank">Others</a>
   </div> 
   <div class="sports__container">
         <div class="sports__content sports__content--active" data-container="football">
            <div class="date-picker" id="footballDatePicker">
            </div>
            <div class="leagues" id="footballLeagues"></div>
         </div>
         <div class="sports__content" data-container="cricket">
            <div class="date-picker" id="cricketDatePicker">
            </div>
            <div class="leagues leagues--cricket" id="cricketLeagues"></div>
         </div>
         <div class="sports__content" data-container="basketball">
            <div class="date-picker" id="basketballDatePicker"></div>
            <div class="leagues " id="basketballLeagues"></div>
         </div>
         <div class="sports__content" data-container="esports">
            <div class="date-picker" id="esportsDatePicker"></div>
            <div class="leagues " id="esportsLeagues"></div>
         </div>
          <div class="sports__content" data-container="volleyball">
            <div class="date-picker" id="volleyballDatePicker"></div>
            <div class="leagues" id="volleyballLeagues"></div>
          </div>
          <div class="sports__content" data-container="others"></div>
   </div>
</div>